/* Variáveis das cores */
$bege: #E6E0D6;
$marrom-escuro: #816D4F;
$marrom-claro: #B29463;

/* Fonte */
$fonte: 'Barlow', sans-serif;
$fonte-secundaria: 'Inter', sans-serif;
/* Cor da Fonte */
$escuro: #212529;

/* Backgrounds */
$bg-banner: rgba(255, 247, 233, 0.30);