@import '../base/variaveis';

/* Banners */
//Banner 1
.banner {
    //Imagem do Banner topo
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    // Title and Text
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    //Imagem
    &.banners-1 {
        background-image: url(../../assets/banner-1.png);
    }

    .banners-titulo {
        background-color: $bg-banner;
        padding: 3.25rem 0;

        h2 {
            font-size: 1.75rem;
            font-weight: 700;
        }

        p {
            font-weight: 400;
        }
    }
}

//Banner 2
.banners-2 {
    background-image: url(../../assets/banner-2.png);
}

//Banner 3
.banners-3 {
    background-image: url(../../assets/banner-3.png);
}